@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto', 'Lato', sans-serif;
}

/* ------------------------------------NavBar */

.navbar {
    padding: 8px 32px;
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    z-index: 1;
}


/* ------------------------------------Colours */

.banner-text {
    color: #F6F8FF;
}



/* ------------------------------------Media Queries */



/* ------------------------------------Footer */

footer {
    background-color: #897C80;
    padding: 15px 15px;
}

footer > a {
    text-decoration: none;
    color:  #F6F8FF;
}

footer > div, footer > a  {
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
}

/* ------------------------------------Index Content */

.landing-image {
    background: url('../images/football.jpg') no-repeat center center;
    background-size: cover;
    height: 550px;
    width: 100%;
    

    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.hero-image {
    margin-top: 56px;
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.landing-box {
    background-color: rgba(234, 144, 16, 0.8);
    color: #F6F8FF;
    text-align: center;
    border-radius: 10%;
    padding: 20px 10px;
    position: absolute;
    height: 300px;
    width: 300px;
    right: 60px;
    bottom: 50px;
}


/* ------------------------------------Booking Banner */

.booking-banner {
    background-color: #EA9010;
    padding: 10px 20px;
    text-align: center;
}